
@{
    ViewBag.Title = "Home Page";
}

<body style="background:url(http://s3.amazonaws.com/br-cdn/temp_images/2013/12/24/Hitner2.gif);align-items:flex-start; background-size:cover;">
    <br />
    <br />
    <br />
    <br />
    <div class="jumbotron" style="background-color:transparent; color:black;">
        <h1 style="text-align:center;">League Master</h1>
        <p style="text-align:center; font-size:26px;" class="lead">Your home for a fantasy footbal league with Paypal payments and win/loss tracking.</p>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row" style="background-color:blue; color:ghostwhite;">
        <div class="col-md-4">
            <h2>League</h2>
            <p>
                You will be able to view the league, all the teams and their wins and losses.
            </p>

        </div>
        <div class="col-md-4">
            <h2>Player</h2>
            <p>
                View your player page including email address and wins/losses.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Team</h2>
            <p>
                View your fantasy football team roster.
            </p>
        </div>
    </div>
</body>