<h2>Anthony Galczak</h2>

<p>I am a Software Developer who just recently graduated from
    CNM with an AAS in Computer Information System with a concentration
    in Computer Programming. I have been an R&D Computer Science Intern for
    Sandia National Labs since September of 2015. I hold a DOE-L (Secret equivalent)
    clearance. I am also enrolled at the University of New Mexico as a Computer
    Science major.</p>
